<p [class.para]="setClass">Lorem ipsum dolor sit amet consectetur adipisicing elit. At necessitatibus voluptates, accusamus veniam nam et non maiores! Nostrum exercitationem, magni id provident hic omnis incidunt rerum ut est voluptas in.</p>
<p [ngClass]="setClass?'para1':'para2'">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus minima, labore quidem quo error reprehenderit. Debitis nihil temporibus asperiores, amet omnis assumenda quia quisquam fuga, et id nostrum quibusdam ipsam?</p>

{{username}}

<input #a1 type="text" name="" id="">
<button (click)="submit(a1.value)">click here</button>
