<div class="header">
    <a href="#default" class="logo"><font size="7" color="white">baabtra.com</font><br>
    <p><font color="white"> Mentoring partner</font></p>
    </a>
    <div class="header-right">
      <a class="active" href="#home"><font color="white"> Programs</font></a>
      <a href="#contact"><font color="white">Placements</font></a>
      <a href="#about"><font color="white">About Us</font></a>
      <a href="#about"><font color="white">Blog</font></a>
      <a href="#about"><font color="white">Gallery</font></a>
      <button class="button">Enquire now</button>
    </div>
  </div>
