<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="row">
          <div class="col-md-10">
            <h1 align="center">Sign Up</h1>
            <form  #form="ngForm" (ngSubmit)="submit(form.value)" >
            <label for="">student Name</label>
            <input #name="ngModel" type="text" name="s_name" id="" ngModel required>
            
           
            <br>
            <label for="">gender</label>
            <input  type="radio" name="s_gender" id="" ngModel value="male">male
            <input type="radio" name="s_gender" id="" ngModel value="female">female
            <br>
            <label for="">Phone number</label>
            <input #phone="ngModel" type="text" name="s_phone" id="" ngModel required>
            <br>
            <label for="">address</label>
            <input #address="ngModel" type="text" name="s_address" id="" ngModel required>
            <br>
            <label for="">Email</label>
            <input #email="ngModel" type="text" name="s_email" id="" ngModel required>
            <br>
            <label for="">username</label>
            <input type="text" name="s_username" id="" ngModel required>
            <br>
            <label for="">Password</label>
            <input #password="ngModel" type="text" name="s_passwd" id="" ngModel required>
           <br>
            <button type="submit">Submit</button>
          </form>
          {{message}}
          </div>
        </div>
      </div> 
      <br>
      <table class="table table-primary">
        <tr>
            <th>Studentname</th>
            <th>Gender</th>
            <th>Phonenumber</th>
            <th>Address</th>
            <th>Email</th>
            <th>Username</th>
            <th>Password</th>
        </tr>
        <tr *ngFor="let student of student_list">
            <td>{{student.s_name}}</td>
            <td>{{student.s_gender}}</td>
            <td>{{student.s_phone}}</td>
            <td>{{student.s_address}}</td>
            <td>{{student.s_email}}</td>
            <td>{{student.s_username}}</td>
            <td>{{student.s_passwd}}</td>
            <td><button class="btn btn-primary" >update</button></td>
            <td><button class="btn btn-primary" (click)="deletestudent(student.id)">delete</button></td>
        </tr>
    </table>
</body>
</html>
