
<div class="container-fluid" style="background-color:  rgb(17, 36, 67);">
  <div class="grid-container">
  <div class="grid-item">
      <br><br><br><br>
            
              <h1><font color="white"> Getting a Software Job is So Easy <br> Now with our IT Internship <br> Programs.  </font></h1><br>
          <h2><font color="white">Learn programming from Kerala's most trusted software <br> training company with the highest placement record. <br> Enroll in software courses and internship programs in <br> Python, Flutter, Angular and PHP to start your career.</font></h2>
          <button class="btn"><i class="fa fa-bars"></i> Our courses</button>
        </div>

      
        
          <div class="grid-item"><img src="../../assets/main.jpg" width="490px" height="500px"></div>
          
</div>
</div>