<h1 align="center"><font color="blue">Ed-tech company with 11 years of industry leadership in training and <br> placements, holding highest number of placement track in Malabar.</font> </h1>
<br><br>
<div class="row">
 <div class="column">
    <div class="card">
      <img  src="../../assets/images/c1.jpg" alt="" height="200px" >
      <h2>Python <br> training</h2><br>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="../../assets/images/c2.jpg" alt="" height="200px">
      <h2>Flutter <br> training</h2>
    </div>
  </div>
  
  <div class="column">
    <div class="card">
      <img src="../../assets/images/c3.jpg" alt="" height="200px">
      <h2>Angular <br> training</h2><br>
    </div>
  </div>
  
 <div class="column">
    <div class="card">
      <img src="../../assets/images/c4.jpg" alt="" height="200px">
      <h2>PHP <br> training</h2><br><br>
    </div>
  </div>
</div>