<div class="header">
    <a href="#default" class="logo"><font size="7" color="black">Placed candidates</font><br>
    
    </a>
    <div  align="center">
      
      <button class="button" ><a href="#about">Enquire now</a></button>
    </div>
  </div>


 
  <div class="row">
    <div class="column">
      <div class="card">
        <img src="../../assets/images/p1.jpg" alt="">
        <h2>Vishnu lekshman</h2>
        <h3>Full stack developer</h3>
        <h3>QIZO</h3>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="../../assets/images/p2.jpg" alt="">
        <h2>Achanya anil</h2>
        <h3>Web developer trainee</h3>
        <h3>Limenzy</h3>
      </div>
    </div>
    
    <div class="column">
      <div class="card">
        <img src="../../assets/images/p3.jpg" alt="">
        <h2>Raashidah p</h2>
        <h3>Associate software Engineer</h3>
        <h3>SRIT</h3>
      </div>
    </div>
    
  
 </div>


 
