<div class="row">
    <div class="column">
      <div class="card">
        <img align="left" src ="../../assets/images/e1.jpg" alt="" height="50px"><br><br>
        <h1 align="left">CS Talent Show</h1>
        <h2 align="left">CS talent show, a live event hosted by the student community through their social media channels to showcase the projects done by students. Our instructors will monitor the students projects and provide guidance.</h2>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img align="left" src ="../../assets/images/e2.jpg" alt="" height="50px"><br><br>
        <h1 align="left">Coffee with HR</h1>
        <h2 align="left">MNC HR representatives will visit Baabtra students to present their company, job opportunities, And job nature. Students will learn about the companies and have the chance to apply for jobs.</h2>
      </div>
    </div>
    
    <div class="column">
      <div class="card">
        <img align="left" src ="../../assets/images/e3.jpg" alt="" height="50px"><br><br>
        <h1 align="left">Digital Fest</h1>
        <h2 align="left">Digital fest for baabtra students is a platform for students to showcase their software application development skills to companies for securing a job. <br><br><br></h2>
      </div>
    </div>
    
  </div>
